body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    margin: 80px auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 1px solid #334155;
    background: #0f172a;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    background: #3b82f6;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    padding: 12px;
    background: #1e293b;
}

a.btn {
    background: #3b82f6;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
}
